body{
  background-color:#222;
  color:white;
  text-align:center;
  padding:20px;
  margin:20px;
  font-family:"Google sans";
}
#click-btn{
  font-size:25px;
  font-family:Courier-New;
  border:none;
  background:transparent;
  color:white;
  cursor:pointer;
}
#click-btn{
  transition:0.2s;
}
}
.clicked{
  transform:scale (1.08);
  box-shadow: 0 0 30px gold;
}
#floating{
    position: absolute;
    left: 50%;
    top: 250px;

    color: gold;
    font-size: 30px;
    font-weight: bold;

    opacity: 0;
    pointer-events: none;
}

.float{
    animation: floatUp 0.8s ease-out;
}

@keyframes floatUp{

    0%{
        opacity:1;
        transform:translateY(0px);
    }

    100%{
        opacity:0;
        transform:translateY(-60px);
    }

}
#upgrade-btn{
color:white;
font-size:25px;
font-family:arial;
background:transparent;
border:none;
cursor:pointer; 
}
#auto-btn{
  color:white;
  cursor:pointer;
  background:transparent;
  border:none;
  font-size:20px;
}
